* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

.header_parent {
  display: flex;
  justify-content: space-between;
  padding: 17px 22px;
  padding-left: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
  height: 77px;
}
.Header_main_parent {
  transition: box-shadow 300ms ease-in-out 0s;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px; */
  transition: box-shadow 300ms ease-in-out 0s;
  height: 77px;
}
.pin_logo {
  color: #e60023;
  font-size: 24px;
}

.bussiness_span {
  padding-left: 8px;
}
.left_part span {
  font-family: "poppins";
  font-size: 14px;
  font-weight: 600;
}
.downkey {
  font-family: "poppins";
  font-size: 15px;
  font-weight: 100;
  margin-left: 5px;
}
.left_part .header_list {
  padding: 12px 15px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.left_part .header_list:hover {
  background: #f0f0f0;
  border-radius: 30px;
}
.right_icons {
  font-family: "poppins";
  font-size: 25px;
  font-weight: 100;
  color: #5f5f5f;
  margin: 0px 2px;
}
.right_icons_search {
  font-size: 35px;
  font-weight: 100;
  color: #5f5f5f;
}
.right_part .header_list_search {
  padding: 8px 8px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.right_part .header_list_search:hover {
  background: #f0f0f0;
  border-radius: 30px;
}
.right_part .header_list {
  padding: 8px 11px;
  padding-bottom: 13px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.right_part .header_list:hover {
  background: #f0f0f0;
  border-radius: 30px;
}
.header_logo {
  width: 45px;
  height: 45px;
  border: 10px solid transparent;
  border-radius: 30px;
}
.header_logo:hover {
  border: 10px solid #e2dede;
}
.right_part .header_list:nth-child(5) {
  padding: 0px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.right_part .header_list:nth-child(5):hover {
  background: none !important;
  border-radius: 30px;
}
.right_part .header_list:nth-child(6) {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.right_part .header_list_last {
  background: none !important;
  top: 10px;
  position: relative;
}

.right_part .header_list_last span {
  padding: 2px;
  padding-bottom: 1px;
  border-radius: 50px;
}
.right_part .header_list_last span:hover {
  background: #e2dede;
}
.right_part .header_list_last span .downkey {
  position: relative;
  top: -1px;
  left: -2px;
}
.drop_menu {
  width: 117%;
  max-height: 429.8px;
  box-shadow: rgba(30, 10, 5, 0.1) 0px -1px 14px 0px;
  border-radius: 15px;
  padding: 8px;
  left: 50px;
  top: 9px;
  position: relative;
  display: none;
  z-index: 999;
  background: white;
}
.drop_menu h6 {
  font-size: 16px;
  padding: 9px 8px;
  border-radius: 8px;
  margin: 0px;
}
.drop_menu h6:hover {
  background: #e9e9e9;
}
.clicklogo_Bg {
  background: black !important;
}
.clicklogo_Bg2 {
  background: black !important;
}
.clicklogo_Bg3 {
  background: black !important;
}
.business_dropDown_show {
  display: block;
}
.create_span_click {
  color: white;
}
.analytics_span_click {
  color: white;
}
.span_text_click {
  color: white;
}
.pin_logo_click {
  color: white;
}

.create_drop_menu {
  width: 170%;
  max-height: 429.8px;
  box-shadow: rgba(30, 10, 5, 0.1) 0px -1px 14px 0px;
  border-radius: 15px;
  padding: 8px;
  left: -35px;
  top: 9px;
  position: relative;
  display: none;
  z-index: 999;
  background: white;
}
.create_drop_menu h6 {
  font-size: 16px;
  padding: 9px 8px;
  border-radius: 8px;
  margin: 0px;
}
.create_drop_menu h6:hover {
  background: #e9e9e9;
}
.middleList {
  width: 103px;
}
.create_drop_menu_show {
  display: block;
}

.analytics_drop_menu {
  width: 110%;
  max-height: 429.8px;
  box-shadow: rgba(30, 10, 5, 0.1) 0px -1px 14px 0px;
  border-radius: 15px;
  padding: 8px;
  left: -35px;
  top: 9px;
  position: relative;
  display: none;
  z-index: 999;
  background: white;
}
.analytics_drop_menu h6 {
  font-size: 16px;
  padding: 9px 8px;
  border-radius: 8px;
  margin: 0px;
}
.analytics_drop_menu h6:hover {
  background: #e9e9e9;
}
.analytics_drop_menu_show {
  display: block;
}
.header_list3 {
  width: 121px;
}

.left_header_hover_div {
  width: 0px;
}
.notification_div {
  background: black;
  color: white;
  z-index: 999;
  position: absolute;
  border-radius: 7px;
  margin-left: -16px;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 14px 0px;
  display: none;
}
.notification_div p {
  margin: 0px;
  font-size: 11px;
  font-family: "Poppins";
  padding: 6px 6px;
  cursor: pointer;
}
.bell:hover .notification_div {
  display: block;
}
/* message */
.message_div {
  background: black;
  color: white;
  z-index: 999;
  position: absolute;
  border-radius: 7px;
  margin-left: -10px;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 14px 0px;
  display: none;
}
.message_div p {
  margin: 0px;
  font-size: 11px;
  font-family: "Poppins";
  padding: 6px 6px;
  cursor: pointer;
}
.message:hover .message_div {
  display: block;
}

/* Your Profile */
.profile_div {
  background: black;
  color: white;
  z-index: 999;
  position: absolute;
  border-radius: 7px;
  margin-left: -16px;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 14px 0px;
  display: none;
}
.profile_div p {
  margin: 0px;
  font-size: 11px;
  font-family: "Poppins";
  padding: 6px 6px;
  cursor: pointer;
}
.profile:hover .profile_div {
  display: block;
}

/* Acccount */
.account_div {
  background: black;
  color: white;
  z-index: 999;
  position: absolute;
  border-radius: 7px;
  margin-left: -18px;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 14px 0px;
  margin-top: 32px;
}
.acoount_div_parent {
  margin-top: -20px;
  opacity: 0;
}
.account_div p {
  margin: 0px;
  font-size: 11px;
  font-family: "Poppins";
  padding: 6px 6px;
  cursor: pointer;
}
.acoount_div_parent:hover {
  opacity: 1;
}
/* Account Drop down */
.account_dropDownMenu {
  width: 320px;
  height: auto;
  background-color: white;
  z-index: 99;
  position: relative;
  right: 279px;
  top: 40px;
  box-shadow: rgba(30, 10, 5, 0.1) 0px -1px 14px 0px;
  border-radius: 15px;
  padding: 14px;
  display: none;
}
.account_dropDownMenu_show {
  display: block;
}
.account {
  width: 20px;
}
.currently_text {
  font-size: 12px;
  font-family: "poppins";
}
.business_logo {
  width: 61px;
  background: #e9e9e9;
  border-radius: 50%;
}
.Bussiness_profile_sec h6 {
  font-size: 15px;
}
.Profile_header {
  justify-content: space-between;
}
.Profile_header p {
  font-size: 13px;
  color: #5f5f5f;
  margin: 0px;
}
.Profile_header svg {
  left: 22px;
  position: relative;
}
.Bussiness_profile_sec {
  cursor: pointer;
}
.business_tabs h6 {
  font-size: 15px;
  margin: 0px;
  padding: 10px 6px;
  cursor: pointer;
}
.business_tabs h6:hover {
  background: #e9e9e9;
  border-radius: 8px;
}
.navigate_tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigate_tabs svg {
  font-size: 20px;
}

/* home */
.home_content {
  padding-top: 90px;
}
.feed_text {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
}
.home_content h6 {
  font-size: 16px;
  color: #000000;
  border-bottom: 3px solid black;
  display: inline;
  font-family: "poppins";
  padding-bottom: 5px;
}
/* .image_div {
  background: red;

  width: 280px;
  height: 150px;
} */
.grid-container {
  /* display: grid;
  grid-gap: 10px;*/
  grid-template-columns: repeat(6, 1fr);

  padding: 5px 12px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  grid-gap: 10px;
}

.image_div {
  /* padding: 20px;
  text-align: center;
  background: url("/public/images/home_img.jpg");
  background-size: 100%;
  background-position: center;
  background: cover; */

  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
}
.image_div img {
  max-width: 100%;
  height: 320px;
  border-radius: 20px;
}
.hover_shade:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 20px;
}
.image_overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 15px;
  height: 100%;
  opacity: 0;
}
.image_overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.image_overlay .overla_top {
  display: flex;
  justify-content: space-between;
}
.image_overlay .overla_top button {
  background-color: #e60023;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
}
.overla_top span {
  color: white;
  font-size: 16px;
  font-family: "poppins";
  font-weight: 600;
  cursor: pointer;
}
.image_overlay_child_parent {
  height: 100%;
}
.overlay_bottom {
  position: absolute;
  bottom: 0px;
}
.image_overlay .overlay_bottom {
  display: flex;
  justify-content: space-between;
  width: 88%;
  padding-bottom: 11px;
}

.bottom_icon_overlay {
  width: 35px;
  height: 35px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.bottom_icon_overlay svg {
  font-weight: 800;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.bottom_icon_overlay {
  margin-left: 10px;
}
