@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

.header_parent {
  display: flex;
  justify-content: space-between;
  padding: 17px 22px;
  padding-left: 15px;
}
.pin_logo {
  color: #e60023 !important;
  font-size: 24px;
}
.bussiness_span {
  padding-left: 8px;
}
.left_part span {
  font-family: "poppins";
  font-size: 14px;
  font-weight: 600;
}
.downkey {
  font-family: "poppins";
  font-size: 15px;
  font-weight: 100;
  margin-left: 5px;
}
.left_part div {
  padding: 12px 15px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.left_part div:hover {
  background: #f0f0f0;
  border-radius: 30px;
}
.right_icons {
  font-family: "poppins";
  font-size: 25px;
  font-weight: 100;
  color: #5f5f5f;
  margin: 0px 2px;
}
.right_icons_search {
  font-size: 35px;
  font-weight: 100;
  color: #5f5f5f;
}

.right_part div {
  padding: 8px 11px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.right_part div:hover {
  background: #f0f0f0;
  border-radius: 30px;
}
.header_logo {
  width: 30px;
  height: 30px;
}
.right_part div:nth-child(5) {
  padding: 8px 11px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  cursor: pointer;
}
.right_part div:nth-child(5):hover {
  background-color: #a2a0a0;
  border-radius: 30px;
}
